main{
    width: 100%;
    height: 800px;
}
.bg-orange {
  background-color: #fd7e14 !important; /* Bootstrap orange */
}
.bg-orange-300 {
    color: #000;
    background-color: #feb272;
}

.nav-link {
    color: white;
}

.nav-link.active {
    background-color: orange;
    border-radius: 5px;
}

.nav-link {
    color: orange;
}

.nav-link:hover {
    color: darkorange;
}

.nav-link.active {
    color: orange;
    font-weight: bold;
}

#imagenFondo {
    background-image: url("img/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}