.caja {
  padding: 10px;
  border: 1px solid #ccc;
  transition: background-color 0.3s;
  border-radius: 5px;
  margin-bottom: 5px;
}

.caja.color {
  background-color: #d1ecf1;
  color: #0c5460;
  font-weight: bold;
}

.oscuro{
  background-color: black;
  color: white;
}